#lightbox{
	background-color:#A2A2A2;
	padding: 6px;
	border-bottom: none;
	border-right: none;
	}
#lightboxDetails{
	font: arial;
	font-size: 1em;
	
	font-weight: bold;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }

#lightbox img{ border: none; } 
#overlay img{ border: none; }

* html #overlay{
	background-color: #000;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}

#overlay{ background-image: url(overlay.png); }